.App {
  text-align: center;
}

.App main {
  display: flex;
}

.App ul,
.App li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 10px auto 0 auto;
  visibility: hidden;
}
@-webkit-keyframes spin {
  0% {-webkit-transorm: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

#iconDragImg {
  opacity: 0.5;
  width: 40px;
  height: 40px;
  position: absolute;
  display: none;
}

@media (max-width: 900px) {
  #root {
    /*width: 200vw;*/
    width: 100vw;
  }
  .App main {
    flex-direction: column;
  }
  
  .App main, 
  #leftMenu,
  #iconMenu,
  #rightMenu {
    /*height: 180vh !important;*/
    width: 100% !important;
    box-sizing: border-box;
    height: auto !important;
    
  }

  #leftMenu {
    height: auto !important;
  }

  #leftMenu > ul,
  #iconMenu > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #leftMenu li {
    padding-bottom: 5px !important;
  }

  #iconMenu li {
    flex-basis: 40px;
    flex-grow: 1;
  }

  #dashboard {
    min-height: 390px;
    position: relative;
    overflow: scroll;
  }
  
  #rightMenu {
    /*flex-direction: column-reverse !important;*/
    padding-bottom: 50px !important;
  }

  #rightMenu .functions {
    order: 1;
    padding-bottom: 0 !important;
  }
  #rightMenu .header {
    order: 2;
    margin-top: 15px !important;
  }
  #rightMenu .details {
    order: 3;
  }

  .ReactModal__Content {
    padding: 10px !important;
    height: fit-content;
  }
}